@font-face {
    font-family: 'FontAwesome';
    src: url('/assets/fonts/font-awesome/fontawesome-webfont.woff2') format('woff2'),
         url('/assets/fonts/font-awesome/fontawesome-webfont.woff') format('woff'),
         url('/assets/fonts/font-awesome/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IcoFont';
    src: url('/assets/fonts/ico/icofont.woff') format('woff'),
         url('/assets/fonts/ico/icofont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IcoFont', 'FontAwesome', sans-serif;
}
