
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&display=swap');

:root {
  --font-family-base: 'Encode Sans', sans-serif;
  --font-size-base: 16px;
  --font-size-heading: 2em;
  --primary-color: #1771a6;      /* Color principal, usado en títulos y botones */
  --secondary-color: #bbc4cb;    /* Color secundario, por ejemplo para hover en botones */
  --background-color: #FFf;  /* Color de fondo */
  --text-color: #333;
  --muted-text: #d3d3d3;

  /* Variables para botones */
  --btn-save-bg: #1771a6;
  --btn-save-hover-bg: #1771a6;
  --btn-back-bg: #6b7280;
  --btn-back-hover-bg: #4b5563;
  --btn-delete-bg: #ef4444;
  --btn-delete-hover-bg: #dc2626;
}

/* Estilos base */
body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}
